{% extends 'ACMS/base.html' %}

{% block title %}
    {{block.super}}
{% endblock %}


{% block nav %}
 {{block.super}}
    <li style="margin-top: 10px; margin-left: 15px;">
        <button id="loginFormToggleButton" class="btn btn-primary" data-toggle="modal" data-target="#loginModal"><span class="network-name">lOGIN</span></button>
    </li>
{% endblock nav %}


{% block content %}

    <!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>HMO DATA MANAGEMENT SYSTEM {{ messages.level }}</h1>
                        <h3>ACMS</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- login form modal -->
    <div class="modal fade" {% if messages %} id="loginModalJs" {% else %} id="loginModal"{% endif %}  tabindex="-1" role="dialog" aria-labelledby="modalLabel" data-backdrop ="static" >
      <div  class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header" style="text-align:center; height: 50px">
            <button type="button" name="button" class="close" data-dismiss="modal" arial-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="modalLabel">HDMS</h4>
          </div><!-- modal-header -->
          <div class="modal-body">
              {% for message in messages %}
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR  %}
                    <div id="loginErrorAlert" class="alert fade in alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      {{ message }}
                    </div>
                  {% endif %}
              {% endfor %}

            <form action="{% url 'ACMS:index' %}" method="post">
                 {% csrf_token %}
              <div class="form-group">
                <label for="username">Username</label>
                <input name="username" type="text" class="form-control" id="username" required="true">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" id="password" required="true" placeholder="**********">
              </div>
              <div class="form-group">
                  <input style="width: 100%" class= "btn btn-primary" type="submit" value="Log in" >
              </div>
            </form>
          </div><!-- modal-body -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->
    <!-- end of login form modal -->

    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Osuntuyi Medical Centre</h2>
                    <p class="lead">We Care, Christ Heals</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to OMC:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
{% endblock %}