{% extends 'ACMS/homepage.html' %}
{% load staticfiles %}

{% block title %}
    <title>Workpage</title>
{% endblock title %}

{% block bootstrap %}
    {{block.super}}
    <!-- Simple-sidebar  CSS -->
    <link href="{% static 'ACMS/css/simple-sidebar.css' %}" rel="stylesheet" />
{% endblock bootstrap %}



{% block content %}
     <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">Home  </a>
                </li>
                <li>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <!-- patient panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="dashboard">
                              <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#dashboard-submenu" aria-expanded="true" aria-controls="dashboard-submenu">
                                  Dashboard
                                </a>
                              </h4>
                            </div>
                            <div id="dashboard-submenu" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="dashboard">
                              <div class="list-group">

                              </div>
                            </div>
                        </div>
                      <!-- patient panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="patient">
                              <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#patient-submenu" aria-expanded="true" aria-controls="patient-submenu">
                                  Patient
                                </a>
                              </h4>
                            </div>
                            <div id="patient-submenu" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="patient">
                              <div class="list-group">
                                <ul>
                                    <li><a id="addPatient"  role="button" data-toggle="modal" data-target="#patientModalForm">Add Patient</a></li>
                                    <li><a href="#">Find Patient</a></li>
                                </ul>
                              </div>
                            </div>
                        </div>
                      <!-- drug panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="drug">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#drug-submenu" aria-expanded="false" aria-controls="drug-submenu">
                                  Drugs
                                </a>
                              </h4>
                            </div>
                            <div id="drug-submenu" class="panel-collapse collapse" role="tabpanel" aria-labelledby="drug">
                              <div class="list-group">
                                <ul>
                                    <li><a role="button" data-toggle="modal" data-target="#drugForm">Add Drug</a></li>
                                    <li><a href="#">Find Drug</a></li>
                                </ul>
                              </div>
                            </div>
                        </div>
                      <!-- authorization code panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="authorization-code">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#authorization-code-submenu" aria-expanded="false" aria-controls="authorization-code-submenu">
                                  Authorization Code
                                </a>
                              </h4>
                            </div>
                            <div id="authorization-code-submenu" class="panel-collapse collapse" role="tabpanel" aria-labelledby="authorization-code">
                              <div class="list-group">
                               <ul>
                                    <li><a href="#">Add Authorization Code</a></li>
                                    <li><a href="#">Find Authorization Code</a></li>
                                </ul>
                              </div>
                           </div>
                      <!-- hmo panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="hmo">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#hmo-submenu" aria-expanded="false" aria-controls="hmo-submenu">
                                  HMO
                                </a>
                              </h4>
                            </div>
                            <div id="hmo-submenu" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hmo">
                              <div class="list-group">
                                <ul>
                                    <li><a href="#">Add HMO</a></li>
                                    <li><a href="#">Find HMO</a></li>
                                </ul>
                              </div>
                            </div>
                        </div>
                      <!-- backup panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="backup">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#backup-submenu" aria-expanded="false" aria-controls="backup-submenu">
                                  Backup
                                </a>
                              </h4>
                            </div>
                            <div id="backup-submenu" class="panel-collapse collapse" role="tabpanel" aria-labelledby="backup">
                              <div class="list-group">
                               <ul>
                                    <li><a href="#">Create Backup</a></li>
                                    <li><a href="#">Restore Backup</a></li>
                                </ul>
                              </div>
                            </div>
                        </div>
                    </div>

                </li>
               
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


<!-- patient form -->
<div class="modal fade" id="patientModalForm" tabindex="-1" role="dialog" aria-labelledby="modalLabel" data-backdrop ="static" >
      <div  class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" name="button" class="close" data-dismiss="modal" arial-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="modalLabel">New Patient</h4>
          </div><!-- modal-header -->
          <div class="modal-body">
             <form id="patientForm" action="{% url 'ACMS:workpage' %}" method="post">
                 {% csrf_token %}
              <div class="form-group">
                <label for="surname">Surname<span id="required">*</span></label>
                  {{ patient_form.surname }}
              </div>
              <div class="form-group">
                <label for="firstname">Firstname<span id="required">*</span></label>
                {{ patient_form.firstname }}
              </div>
              <div class="form-group">
                <label for="othername">Othername<span id="required">*</span></label>
                {{ patient_form.othername }}
              </div>
              <div class="form-group">
                <label for="cardNo">Card No<span id="required">*</span></label>
                {{ patient_form.cardNo }}
              </div>
              <div class="form-group">
                <label for="gender">Gender<span id="required">*</span></label>
                    {{ patient_form.gender }}
              </div>
               <div class="form-group">
                <label for="mobile">Mobile<span id="required">*</span></label>
                {{ patient_form.mobileNo }}
              </div>
              <div class="form-group">
                <label for="hmo">HMO<span id="required">*</span></label>
                {{ patient_form.hmo }}
              </div>
              <div class="form-group">
                <label for="origin">State of Origin<span id="required">*</span></label>
                {{ patient_form.origin }}
              </div>
              <div class="form-group">
                <label for="address">Address<span id="required">*</span></label>
                {{ patient_form.address }}
              </div>
              <div class="form-group">
                  <input style="width: 100%" class= "btn btn-danger" type="submit" value="Submit" >
              </div>
            </form>
          </div><!-- modal-body -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
</div><!-- modal -->
<!-- end of patient modal form -->

<!-- drug form -->
<div class="modal fade" id="drugForm" tabindex="-1" role="dialog" aria-labelledby="modalLabel" data-backdrop ="static" >
      <div  class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" name="button" class="close" data-dismiss="modal" arial-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="modalLabel">New Drug</h4>
          </div><!-- modal-header -->
          <div class="modal-body">
             <form action="{% url 'ACMS:index' %}" method="post">
                 {% csrf_token %}
              <div class="form-group">
                <label for="username">Username</label>
                <input name="username" type="text" class="form-control" id="username" required="true">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" id="password" required="true" placeholder="**********">
              </div>
              <div class="form-group">
                  <input style="width: 100%" class= "btn btn-primary" type="submit" value="Log in" >
              </div>
            </form>
          </div><!-- modal-body -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
</div><!-- modal -->
<!-- end of drug modal form -->

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block scripts %}
    {{block.super}}
     <!-- Menu Toggle Script -->
    <script>
        $("#brandName").attr({href : "#menu-toggle", id : "menu-toggle"});
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
{% endblock scripts %}
